<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <title> Compare </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel= "stylesheet" type= "text/css" href= "{% static 'css/bootstrap.min.css' %}">

    <script type="text/javascript" src = "{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src = "{% static 'js/canvasjs.min.js' %}"></script>
    <script type="text/javascript" src = "{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        //  to use python variables in js file
        var showData = JSON.parse( '{{ test | safe }}' );
        var numOfShows = {{numOfShows}};
        var lastShowAdded = {{lastShowAdded}};
        var chart;
        var chartData;
        var graphSize = 0;
        var singleLayout = false;
        var viewPref = "";
        var showListFull = JSON.parse('{{ showList | safe}}');
        console.log(showListFull);

    </script>

    <style>
          .btn-primary,  .btn-primary:visited {
           background-color: #2a3942 !important;
           border-color:white
          }
          .btn-primary:hover, .btn-primary:active {
            background-color: #2a3942 !important;
            border-color: black
          }
    </style>

  </head>
    <body>
        <h1><a style = "color: white;" onclick="location.href='https://www.scattertv.com';">ScatterTV</a></h1>
        <!-- Search Bar / Buttons -->
        <body style = "background-color: #32373a ;">
      <form action = "" method = "POST">
        {% csrf_token %}
          <span>
            <center>
              <input type="search" name = "searchBar" id = "searchBar"  class="form-control-small rounded" placeholder="search for a show" style = "border-color:#2a3942;"/>
              <div class="btn-group" role="group">
              <input type="submit" name = "compareBtn" id = "compareBtn" value = "compare"  class="btn btn-primary" onclick = 'multiGraphTest();'/>
              <input id="clearMe" type="button" value= "clear all" onclick = "clearAll();" class="btn btn-primary"/>
              <input id="listView" type="button" value= "list" onclick = "viewChange('listView');" class="btn btn-primary"/>
              <input id="gridView" type="button" value= "grid" onclick = "viewChange('gridView');" class="btn btn-primary"/>
               <input hidden name = "showsToCompare" id = "showsToCompare" value =""></p>
              </div>
            </center>
            <br>
          </span>
      </form>
          <!-- Graph Container -->
          <div class="container">
              <div class = "row" id = "container"></div>
          </div>
    </body>

    <br><br><br>

    <script type="text/javascript" src = "{% static 'js/multigraph.js' %}"></script>
    <script>
            $(document).ready(function() {
        alert("ajax");
        const toSend = graphList;
        $("#compareBtn").click(function() {
            $.ajax({
                url: "/process_url_from_client",
                type: "POST",
                dataType: "json",
                data: {
                    url: toSend,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                success : function(json) {
                    alert("Successfully sent the URL to Django");
                },
                error : function(xhr,errmsg,err) {
                    alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
    </script>
    <!-- Footer -->
    <footer class="fixed-bottom">
      <div class="text-left p-3" style="background-color:#2a3942">
        <a class="text-white" href="https://github.com/mirackara/projectscatter">GitHub</a>
      </div>
    </footer>

</html>