@charset "UTF-8";

body{
    background-color:#32373A;
}
p {
    background-color: black;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }