<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <script type="text/javascript" src = "{{ url_for('static',filename= 'js/jquery.min.js') }}"></script>
    <script type="text/javascript" src = "{{ url_for('static',filename= 'js/canvasjs.min.js') }}"></script>
    <script type="text/javascript" src = "{{ url_for('static',filename= 'js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src = "{{ url_for('static',filename= 'js/multigraph.js') }}"></script>

    <script>
        //  to use python variables in js file
        var showName = ' {{ showData.keys() }} '; // Show name as a dict_key value
        var showData = JSON.parse('{{showData | tojson}}');
        var statusCode = ' {{ statusCode }} ';
        var seasons = ' {{ seasons }} ';
        var spliced;
        var chart;
        var chartData;
    </script>
    <style>
          .btn-primary,  .btn-primary:visited {
           background-color: #2a3942 !important;
           border-color:white
          }
          .btn-primary:hover, .btn-primary:active {
            background-color: #2a3942 !important;
            border-color: black
          }
    </style>

  </head>
  <body style = "background-color: #32373a ;">
      <h1><a style = "color: white;" onclick="location.href='https://www.scattertv.com';">ScatterTV</a></h1>
      <!-- Search Bar / Buttons -->
      <span>
        <center>
          <input type="search" name = "searchBar" id = "searchBar"  class="form-control-small rounded" placeholder="search for a show" style = "border-color:#2a3942;"/>
          <div class="btn-group" role="group">
          <input id="clickMe" type="button" value= "search" onclick = 'search("search");' class="btn btn-primary"/>
          <input type="button" value = "compare"  placeholder="compare" class="btn btn-primary" onclick = 'search("compare");'/>
          </div>
          </div>
        </center>  
      </span>
      <br>
      <!-- Graph Container -->
      <div class = "container">
        <div id="chartContainer" style="height: 600px; max-width: 1200px; margin: 0px auto;"></div>
        <script type="text/javascript" src = "{{ url_for('static',filename= 'js/canvasjs.min.js') }}"></script>

        <p id="showNameID"></p>
        <p id="seasonsInShow"></p>
        
        <!-- Scale Button -->
        <input hidden type="checkbox" id="yAxisScale" name="yAxisScale" value="Scale" onclick="checkBoxScaler();" class = "checkBoxSwitch">
        <input type="button"  id = "checkBtn" class="btn btn-primary" value="Scale" onclick="buttonChecked();"><br>
        
        <!-- Best/Worst Ep-->
        <h2 style = "color: white;"> Best Episode: {{ bestEpName }} - {{ bestEpRating }} </h2> 
        <h2 style = "color: white;"> Worst Episode: {{ worstEpName }} - {{ worstEpRating }} </h2> 
        <script type="text/javascript" src = "{{ url_for('static',filename= 'js/redirect.js') }}"></script>

      </div>
  </body>
    <!-- Footer -->
    <footer class="fixed-bottom">
      <div class="text-left p-3" style="background-color:#2a3942">
        <a class="text-white" href="https://github.com/mirackara/projectscatter">GitHub</a>
      </div>
    </footer>
  </html>