<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

  </head>
  <body>
    <h1 style = "color: white;" onclick="location.href='https://www.scattertv.com';">ScatterTV</h1>
    <div class = "container">
      <center><input type = "text" name = "searchBar" id = "searchBar" placeholder="search for a show"/>
      <input id="clickMe" type="button" value= "search" onclick = "search();"/></center>
      <div id="chartContainer" style="height: 600px; max-width: 1200px; margin: 0px auto;"></div>
      <script type="text/javascript" src = "{{ url_for('static',filename= 'js/canvasjs.min.js') }}"></script>
      <p id="showNameID"></p>
      <p id="seasonsInShow"></p>
      <input hidden type="checkbox" id="yAxisScale" name="yAxisScale" value="scaled" onclick="checkBox(); ">
      <label for="yAxisScale" class="btn btn-primary"> Scale</label><br>
      <h2 style = "color: white;"> Best Episode: </h2>
      <h2 id = "bestEp"></h2>
    </div>
    <script>
      //  to use python variables in js file
      var showName = ' {{ showData.keys() }} '; // Show name as a dict_key value
      var showData = JSON.parse('{{showData | tojson}}');
      var statusCode = ' {{ statusCode }} '; 
      var seasons = ' {{ seasons }} ';
      var spliced;
      var chart;
      var chartData;
    </script>
    <script type="text/javascript" src = "{{ url_for('static',filename= 'js/redirect.js') }}"></script>

  </body>
  <footer class="fixed-bottom">
    <div class="text-left p-3" style="background-color:white ">
      <a class="text-dark" href="https://github.com/mirackara/projectscatter">GitHub</a>
    </div>
    <!-- Copyright -->
  </footer>
  </html>