<!doctype html>
<html>


    <style>
      /* Style the body */
      body {
        font-family: Arial;
        margin: 0;
      }

      /* Header/Logo Title */
      .header {
        padding: 20px;
        text-align: center;
        background: #181818;
        color: white;
        font-size: 30px;
      }
          #chart {
      width: 1500px; 
    }
    img {
  width: 615px;
  padding-left: 215px;
  max-width: 100%;
  height: 600px;
  width: auto\9; /* ie8 */


}
      /* Page Content */
      .content {padding:10px;}
      
    </style>

    <div class="header">
      <center><h1 class="title">ScatterTV</h1></center>
    </div>
    
<br>
<h3><center>Search for a Show Below:</h3></center>

<center>
<form method="POST">
  <div class ="btn-group">

    <button name="Home"> Home </button>
    <button name="SearchTab"> Search </button>
    
    </div>
    <br>
    
    <div class="body">
    <input name="text" value="{{processed_text}}">
    </div>
    
    <br><br>

    <div class="body">
    <input type="Submit"  name = "Submit" id = "Search" value="Search"></center>
    </div>

    <div class="body">
    <center><input type="Submit" name= "Change Graph" id = "Change" value="Change Graph Colors"></center>
    </div>
</form>


  <body>
    <center><h3>{{series}}</h3></center>
      <center>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script>function update() {
        var source = 'http://127.0.0.1:5000/static/showPoster/showPoster.jpg',
            timestamp = (new Date()).getTime(),
            newUrl = source + '?_=' + timestamp;
        document.getElementById("showPoster").src = newUrl;
        setTimeout(update, 1000);
    }
    ;</script>

      <script>
                google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var dataPoint = {{ dataPoint | tojson }};
        var finalEpNum = parseInt({{finalEpNum}});
        var minRatingFinal = {{minRatingFinal}}

        function drawChart() {

          var data2 = google.visualization.arrayToDataTable([
              ['Episode', 'Rating', { role: 'style', type: 'string' }],
              dataPoint[0]

          ]);
          for (i = 1; i < finalEpNum; i++){
          data2.addRows([dataPoint[i]]);}

          var options = {

            hAxis: {title: 'Episode',viewWindow:{ minValue: 1, maxValue: finalEpNum}},
            vAxis: {title: 'Rating', viewWindow:{minValue: minRatingFinal , maxValue: 10}},
            legend: 'none',
            chartArea:{top:20,},
            height: 600,

            seriesType: 'scatter',
           // trendlines: { 0: {} }    // Draw a trendline for data series 0.
          };
          
            var chart2 = new google.visualization.ScatterChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options);
            window.addEventListener('resize', drawChart, true);


        }



      </script>
      </center>
    <!--Div that will hold the chart-->
    <br>

    <img style="vertical-align:middle" style = "max-width:600px" src="{{ showPoster }}" alt="Show Image">
    <p style="padding-left:215px; padding-right:215px;" >Spoiled billionaire playboy Oliver Queen is missing and presumed dead when his yacht is lost at sea. He returns five years later a changed man, determined to clean up the city as a hooded vigilante armed with a bow.</p>


      <center> <div id="chart_div2"> </div></center>


  </body>
  <title>ScatterTV - {{series}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</html>
