<!doctype html>
<html>


    <style>
      /* Style the body */
      body {
        font-family: Arial;
        margin: 0;
      }

      /* Header/Logo Title */
      .header {
        padding: 20px;
        text-align: center;
        background: #181818;
        color: white;
        font-size: 30px;
      }

      /* Page Content */
      .content {padding:10px;}
      
    </style>

    <div class="header">
      <center><h1 class="title">ScatterTV</h1></center>
    </div>
    
<br>
<h3><center>Search for a Show Below:</h3></center>
<center><form method="POST">
    <input name="text" value="{{processed_text}}">
    <br><br>
    <input type="Submit" id = "Search" value="Search"></center>
    <center><input type="Submit" id = "Change" value="Change Graph Colors"></center>
</form>


  <body>

      <center>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var dataPoint = {{ dataPoint | tojson }};
        var finalEpNum = parseInt({{finalEpNum}});
        var minRatingFinal = {{minRatingFinal}}

      function drawChart() {

          var data2 = google.visualization.arrayToDataTable([
              ['Episode', 'Rating', { role: 'style', type: 'string' }],
              dataPoint[0]

          ]);
          for (i = 1; i < finalEpNum; i++){
          data2.addRows([dataPoint[i]]);}

          var options = {

            hAxis: {title: 'Episode', minValue: 1, maxValue: finalEpNum},
            vAxis: {title: 'Rating', minValue: minRatingFinal , maxValue: 10},
            legend: 'none',
            chartArea:{top:20,},

            seriesType: 'scatter',
           // trendlines: { 0: {} }    // Draw a trendline for data series 0.
          };

            var chart2 = new google.visualization.ScatterChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options);


        }

      </script>

      </center>

    <!--Div that will hold the chart-->
    <br>
    <center><b>{{series}}</b></center>
      <center> <div id="chart_div2" style="width: 1600px; height: 600px;"> </div></center>



  </body>
  <title>ScatterTV - {{series}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</html>
